// Overriding defaults of react-dates

$primary-color: rgb(16,76,151);
$primary-light-color: rgb(68, 186, 236);
.DayPickerKeyboardShortcuts_buttonReset {
    // display: none!important;
}

.DateRangePicker {
    display: block;
    height: 61px;
}

.DateRangePickerInput {
    border: none!important;
}

.DateInput {
    height: 61px;
    cursor: pointer;
}

.DateInput-title {
    text-align: center;
}

.DateInput_input__focused {
    border-color: $primary-color!important;
}

.DateInput_input {
    color: $primary-color;
    font-weight: 600;
    opacity: 0;
    cursor: pointer;
}



.CalendarDay__selected {
    border-color: $primary-color!important;
    background: $primary-color!important;
    color: white;
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover,
.CalendarDay__selected_span  {
    border-color: $primary-light-color!important;
    background: $primary-light-color!important;
    color: white;
} 