
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

$header-height: 64px;
$header-padding: 16px;
$anim-duration: 125ms;
$hover-opacity: .85;
$primary-background-color: rgb(16,76,151);
$background-color-light: rgb(218, 242, 252);

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 0px $header-padding;
  height: 64px;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  flex: 0 0 auto;
  border-bottom: 1px solid rgb(208, 208, 208);
  position: fixed;
  background-color: white;
  // width: calc(100vw - 16px - 16px);
  width: 100vw;
  z-index: 99999;

  .logo-wrapper {
    margin: auto 0px;
    
    img {
      height: 45px;
      min-width: 100%;
    }
  }

  .links-wrapper {
    margin: auto 0;
    font-weight: 700;
    // display: flex;
    // justify-content: space-around;

    a {
      margin-right: 1.2rem;
      color: rgb(16, 77, 152)!important;
      text-decoration: none;
    }
  }
}

.Notification {
  position: absolute;
  top: $header-height;
  left: 0px;
  z-index: 998;
  width: 100vw;
  text-align: center;
  background-color: #e66c03;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px solid #c25b02;
  transition: opacity $anim-duration * 2 linear;

  p{
    color: white;
    font-weight: 500;
    font-size: .85rem;
    margin: .75rem;
  }

  a {
    text-decoration: none;
    color: white;
    transition: opacity $anim-duration linear;
  }

  a:hover {
    opacity: .85;
  }

  img {
    margin-right: 16px;
    cursor: pointer;
    transition: all $anim-duration linear;
    width: 18px;

    &:hover {
      opacity: $hover-opacity;
    }
  }
}

.Section1 {
  padding-top: $header-height;
  padding-bottom: 35px;

  img {
    width: 100%;
    min-width: 100%;
  }

  h2 {
    padding-top: 35px;
    font-size: 42px;
    line-height: 36px;
    letter-spacing: 0px;
    color: rgb(0, 156, 222);
    margin: 0px;
    text-align: center;
  }

  p {
    font-size: 28px;
    line-height: 32px;
    color: black;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 4px;
    white-space: initial;
    text-align: center;
    // margin-top: 0px!important;
    font-weight: 700;
    max-width: 80%;
  }
}

.Section2 {

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $background-color-light;
  margin: 0px;
  box-sizing: border-box;

  .Inner {
    flex: 1 1 0%;
    padding: 0px 28px;
    max-width: 1920px;
    transform: translateY(0px);
    opacity: 1;
    transition: 
      opacity 100ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms, 
      transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms;

    h2 {
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16, 76, 151);
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p:not(.description) & p:not(.price) {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
    }
  }
}

.Section3 {
  padding: 35px 0px 70px;

  .Inner {
    margin: 0px;
    padding: 0px 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16,76,151);
      font-weight: 700;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
    }
  }
}

.Section4 {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgb(218, 242, 252);
  margin: 0px;
  display: flex;
  flex-direction: column;

  .Inner {
    flex: 1 1 0%;
    padding: 0px 28px;
    max-width: 1920px;
    transform: translateY(0px);
    opacity: 1;
    transition: 
      opacity 100ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms, 
      transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms;

    h2 {
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16, 76, 151);
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
    }
  }
}

.Section5 {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 35px;

  .Inner {
    flex: 1 1 0%;
    padding: 0px 28px;
    max-width: 1920px;
    transform: translateY(0px);
    opacity: 1;
    transition: 
      opacity 100ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms, 
      transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms;

    h2 {
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16, 76, 151);
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
    }
  }
}

.AvailabilityChecker {
  border: 1px solid black;
  // background-color: $background-color-light;
  // border-radius: 16px;
  padding: 35px 28px;
  width: fit-content;
  margin: 64px auto;
  
  h2 {
    margin-top: 0px;
    margin-bottom: 17px;
    color: rgb(16, 76, 151);
    font-size: 28px;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }


  .PaxNumber {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 12px;
    outline: none;
    font-size: 14px;
    transition: all $anim-duration linear;
    display: flex;
    line-height: 60px;

    &:hover {
      // background-color: black;
      // color: white;
    }

    // &:after {
    //   content: " Guests";
    // }
  }

  .RoomNumber {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 12px;
    outline: none;
    font-size: 14px;
    transition: all $anim-duration linear;
    
    display: flex;
    line-height: 60px;

    &:hover {
      // background-color: black;
      // color: white;
    }
    
    // &:after {
    //   content: " Rooms";
    // }
  }

  .Minus {
    margin-top: 6px;
    margin-right: 8px;
    
    img {
      width: 22px;
      cursor: pointer;
    }
  }

  .Plus {
    margin-top: 6px;
    margin-left: 8px;

    img {
      width: 22px;
      cursor: pointer;
    }
  }

  .CheckAvailability {
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    background-color: $primary-background-color;
    color: white;
    font-size: 18px;
    height: 46px;
  }

  .contact-details {
    margin-top: 32px;
    display: block;

    input {
      width: 250px;
      display: block;
      // flex-grow: 1;
      margin-right: 6px;
      margin-top: 16px;
      padding: 6px 8px;
      border-radius: 4px;
      border: 1px solid black;
      outline: none;
      color: $primary-background-color;
      font-weight: 600;

      &::placeholder {
        color: $primary-background-color;
      }
    }
  }
}

.DateInput-wrapper {
  display: flex;
  position: relative;
  height: calc(46px + 15px);

  div:not(&.DatePicker_custom) {
    text-align: center;
    
    
  }
}

.DateInput-wrapper {
  .div {
    text-align: center;
  }
}
.DateInput-title {
  opacity: .75;
  font-size: .75rem;
  text-align: center;
}



.DateInput_wrapper_custom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  width: 285px;
  pointer-events: none;
}

.DateInput_custom {
  display: flex!important;
  padding: 0px 24px!important;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  border-radius: 4px;
  transition: border-color $anim-duration linear;
  pointer-events: none;

  &:hover {
    border-color: rgba(0,0,0,1);
  }

  .dayOfMonth {
    color: $primary-background-color;
    font-size: 36px;
    font-weight: 900;
    margin-right: 8px;
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .monthName {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: -2px;
    }
  
    .dayOfWeek {
      font-size: 16px;
      margin-top: -2px;
    }
  }
}

.DatePicker_custom {
  // position: block;
  z-index: 9999;
  // top: 64px;
  // top: 0px;
  // left: 0px;
  // right: 0px;
  // width: fit-content;
  // width: 130px;
  // margin: auto;
  // background-color: $primary-background-color;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // padding: 24px;
  width: 315px;
}



.ContactUs {
  padding: 64px 28px;
  text-align: center;

  .Inner {
      margin: auto;

      h2 {
        color: $primary-background-color;
        font-size: 28px;
      }

      .contact-wrapper {
        text-align: left;
        font-weight: 500;
        white-space: nowrap;
        width: 20%;
        margin: auto;

        div {
          display: flex;
          line-height: 36px;

          span, a {
            margin-left: 12px;
          }
        }
      }

      a {
        text-decoration: none;
        color: black;
        opacity: 1;
        transition: all $anim-duration linear;
        // color: white;
        // font-weight: 600;
        // padding: 2px 6px;
        // background-color: $primary-background-color;

        &:hover {
          opacity: $hover-opacity;
        }
      }
  }
}

.About {
  padding: 35px 28px;
  padding-top: 64px;
  background-color: rgb(218, 242, 252);

  .Inner {
    max-width: 1920px;

    h2 {
      color: $primary-background-color;
      margin-top: 0px;
      margin-bottom: 17px;
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;

    }
  }
}

.GettingHere {
  padding: 35px 28px;
  
  .Inner {
    h2 {
      color: $primary-background-color;
      margin-top: 0px;
      margin-bottom: 17px;
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;

      a {
        text-decoration: none;
        color: black;
        font-weight: 800;
        transition: all $anim-duration linear;

        &:hover {
          opacity: $hover-opacity;
        }
      }
    }
  }
}

.Footer {
  background-color: $primary-background-color;
  padding: 35px 28px;
  color: white;

  a,span {
    color: white;
    font-size: 13px;
    line-height: 1.15rem;
  }

  p {
    margin-top: 3rem;
  }
}

.Social {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 99999;

  img {
    width: 40px;
    background-color: white;
    border-radius: 6px;
    transition: all $anim-duration linear;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.25);

    &:hover {
      transform: scale(1.08);
    }
  }
}


////////////////////////////////////////////////////////////////

.DisplayImageContainer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.DisplayImageContainer {
  margin-right: 6px;
  overflow: hidden;

  button {
    position: relative;
    background: none 50% 50% / cover no-repeat rgb(218, 218, 218);
    background-position: 50% 50%;
    transition: transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
    background-repeat: no-repeat;
    width: 100%;
    // height: 250px;
    border: none;
    height: 100px;
    margin: 0px 9px 21px;
  }
}

.ImageContainer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 6px;
}

.ImageContainer {
  padding-right: 24px;

  button {
    position: relative;
    background: none 50% 50% / cover no-repeat rgb(218, 218, 218);
    background-position: 50% 50%;
    transition: transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
    background-repeat: no-repeat;
    width: 100%;
    // height: 250px;
    border: none;
    height: 175px;
    margin: 0px 9px 21px;

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.08);
    }

    &:hover span {
      height: calc(100% - 38px);
    }

    &:hover .price {
      height: calc(100% - 72px);
    }

    p {
      opacity: 0;
      position: absolute;
      color: white!important;
      z-index: 996!important;
      transition: all $anim-duration linear;
      // text-align: center;

      &.description {
        bottom: 12px;
        left: 0;
        right: 0;
      }

      &.price {
        // top: 15px;
        // bottom: 0px;
        font-weight: 400;
        font-size: 13px;
        pointer-events: none;
        height: 24px;
        left: 0;
        right: 0;
      }
    }

    &:hover p {
      opacity: 1;
    }
    
  }
  span {
    display: flex;
    position: absolute;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    bottom: 19px;
    left: 0px;
    height: 27px;
    width: 100%;
    color: white;
    // padding: 0 20px;
    z-index: 1;
    font-weight: 800;
    text-align: center;
    font-size: 20px;
    transition: all 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
    text-transform: none;
  }
}

.vertical-border {
  background-color: rgba(0,0,0,.075);
  width: 2.5px;
  height: 100%;
  border-radius: 24px;
}
