
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

$header-height: 64px;
$header-padding: 16px;
$anim-duration: 125ms;
$hover-opacity: .85;
$primary-background-color: rgb(16,76,151);
$background-color-light: rgb(218, 242, 252);

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 0px $header-padding;
  height: 64px;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  flex: 0 0 auto;
  border-bottom: 1px solid rgb(208, 208, 208);
  position: fixed;
  background-color: white;
  // width: calc(100vw - 16px - 16px);
  width: 100vw;
  z-index: 99999;

  .logo-wrapper {
    margin: auto 0px;
    margin-right: 1rem;
    
    img {
      height: 45px;
      min-width: 100%;
    }
  }

  .links-wrapper {
    margin: auto 0;
    font-weight: 700;
    display: flex;
    // justify-content: space-around;

    a {
      margin-right: 1.5rem;
      color: rgb(16, 77, 152)!important;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        opacity: .75;
      }

      img {
        margin-right: 4px;
        height: 20px;
      }
    }
  }
}

.Comments {
  padding: 65px 35px;
  background-color: $background-color-light;

  h2 {
    margin-top: 0px;
    margin-bottom: 17px;
    color: rgb(16, 76, 151);
    font-size: 28px;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }
  
  .review {
    margin: 50px auto;
    padding: 35px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    border-color: $background-color-light;
    width: 100%;
    max-width: 640px;

    .text {
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      width: 100%;
      color: $primary-background-color;//rgba(0,0,0,.75);
    }
    .author {
      font-weight: 600;
      font-size: 18px;
      text-align: right;
      width: 100%;
      margin-top: 15px;
      color: $primary-background-color;
    }
  }

  a {
    text-decoration: none;

    .new-comment {
      background-color: $primary-background-color;
      color: $background-color-light;
      padding: 12px 24px;
      border-radius: 4px;
      margin: auto;
      width: fit-content;
      transition: all $anim-duration ease-in-out;
      
      &:hover {
        opacity: .75;
      }
    }
  }
}

.Notification {
  position: absolute;
  top: $header-height;
  left: 0px;
  z-index: 998;
  width: 100vw;
  text-align: center;
  background-color: #e66c03;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px solid #c25b02;
  transition: opacity $anim-duration * 2 linear;

  p{
    color: white;
    font-weight: 500;
    font-size: .85rem;
    margin: .75rem;
  }

  a {
    text-decoration: none;
    color: white;
    transition: opacity $anim-duration linear;
  }

  a:hover {
    opacity: .85;
  }

  img {
    margin-right: 16px;
    cursor: pointer;
    transition: all $anim-duration linear;
    width: 18px;

    &:hover {
      opacity: $hover-opacity;
    }
  }
}

.Disclaimer {
  // margin: auto;
  // width: 100vw;
  text-align: center;
  margin-top: 4rem;

  img {
    width: 300px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

.Section1 {
  padding-top: $header-height;
  padding-bottom: 35px;

  img {
    width: 100%;
    min-width: 100%;
    filter: grayscale(0%);
  }

  h2 {
    padding-top: 35px;
    font-size: 42px;
    line-height: 36px;
    letter-spacing: 0px;
    color: rgb(0, 156, 222);
    margin: 0px 6px;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 22px;
    line-height: 32px;
    color: black;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 4px;
    white-space: initial;
    text-align: center;
    // margin-top: 0px!important;
    font-weight: 700;
    max-width: 80%;
    // text-align: left;
  }
}

.Section2 {

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $background-color-light;
  margin: 0px;
  box-sizing: border-box;

  .Inner {
    flex: 1 1 0%;
    padding: 0px 28px;
    max-width: 1920px;
    transform: translateY(0px);
    opacity: 1;
    transition: 
      opacity 100ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms, 
      transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms;

    h2 {
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16, 76, 151);
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    .section2-desc {
        font-size: 18px;
        line-height: 1.5556;
        margin-bottom: 37px;
        color: black;
        font-weight: 300;
        text-align: left!important;
    }
    p:not(.description) & p:not(.price) {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
      text-align: center!important;
    }
  }
}

.Section3 {
  padding: 35px 0px 70px;

  .Inner {
    margin: 0px;
    padding: 0px 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16,76,151);
      font-weight: 700;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
      text-align: left;
    }
  }
}

.Section4 {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgb(218, 242, 252);
  margin: 0px;
  display: flex;
  flex-direction: column;

  .Inner {
    flex: 1 1 0%;
    padding: 0px 28px;
    max-width: 1920px;
    transform: translateY(0px);
    opacity: 1;
    transition: 
      opacity 100ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms, 
      transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms;

    h2 {
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16, 76, 151);
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
      text-align: left;
    }
  }
}

.Section5 {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 35px;

  .Inner {
    flex: 1 1 0%;
    padding: 0px 28px;
    max-width: 1920px;
    transform: translateY(0px);
    opacity: 1;
    transition: 
      opacity 100ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms, 
      transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 150ms;

    h2 {
      margin-top: 0px;
      margin-bottom: 17px;
      color: rgb(16, 76, 151);
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
      text-align: left;
    }
  }
}

.AvailabilityChecker {
  border: 1px solid black;
  // background-color: $background-color-light;
  // border-radius: 16px;
  padding: 35px 28px;
  width: fit-content;
  margin: 64px auto;
  
  h2 {
    margin-top: 0px;
    margin-bottom: 17px;
    color: rgb(16, 76, 151);
    font-size: 28px;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }


  .PaxNumber {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 12px;
    outline: none;
    font-size: 14px;
    transition: all $anim-duration linear;
    display: flex;
    line-height: 60px;

    &:hover {
      // background-color: black;
      // color: white;
    }

    // &:after {
    //   content: " Guests";
    // }
  }

  .RoomNumber {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 12px;
    outline: none;
    font-size: 14px;
    transition: all $anim-duration linear;
    
    display: flex;
    line-height: 60px;

    &:hover {
      // background-color: black;
      // color: white;
    }
    
    // &:after {
    //   content: " Rooms";
    // }
  }

  .Minus {
    margin-top: 6px;
    margin-right: 8px;
    
    img {
      width: 22px;
      cursor: pointer;
    }
  }

  .Plus {
    margin-top: 6px;
    margin-left: 8px;

    img {
      width: 22px;
      cursor: pointer;
    }
  }

  .CheckAvailability {
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    background-color: $primary-background-color;
    color: white;
    font-size: 18px;
    height: 46px;
    transition: all $anim-duration linear;
    cursor: pointer;
    
    &:hover {
      opacity: .75;
    }
  }

  .contact-details {
    margin-top: 32px;
    display: block;

    input {
      width: 250px;
      display: block;
      // flex-grow: 1;
      margin-right: 6px;
      margin-top: 16px;
      padding: 6px 8px;
      border-radius: 4px;
      border: 1px solid black;
      outline: none;
      color: $primary-background-color;
      font-weight: 600;

      &::placeholder {
        color: $primary-background-color;
      }
    }
  }
}

.DateInput-wrapper {
  display: flex;
  position: relative;
  height: calc(46px + 15px);

  div:not(&.DatePicker_custom) {
    text-align: center;
    
    
  }
}

.DateInput-wrapper {
  .div {
    text-align: center;
  }
}
.DateInput-title {
  opacity: .75;
  font-size: .75rem;
  text-align: center;
}



.DateInput_wrapper_custom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  width: 285px;
  pointer-events: none;
}

.DateInput_custom {
  display: flex!important;
  padding: 0px 24px!important;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  border-radius: 4px;
  transition: border-color $anim-duration linear;
  pointer-events: none;

  &:hover {
    border-color: rgba(0,0,0,1);
  }

  .dayOfMonth {
    color: $primary-background-color;
    font-size: 36px;
    font-weight: 900;
    margin-right: 8px;
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .monthName {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: -2px;
    }
  
    .dayOfWeek {
      font-size: 16px;
      margin-top: -2px;
    }
  }
}

.DatePicker_custom {
  // position: block;
  z-index: 9999;
  // top: 64px;
  // top: 0px;
  // left: 0px;
  // right: 0px;
  // width: fit-content;
  // width: 130px;
  // margin: auto;
  // background-color: $primary-background-color;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // padding: 24px;
  width: 315px;
}

.ContactUs {
  padding: 64px 28px;
  text-align: center;

  .Inner {
      margin: auto;
      max-width: 450px;

      h2 {
        color: $primary-background-color;
        font-size: 28px;
      }

      p {
        text-align: left;
        white-space: nowrap;
      }

      .contact-wrapper {
        text-align: left;
        font-weight: 500;
        white-space: nowrap;
        // width: 20%;
        margin: auto;

        div {
          display: flex;
          line-height: 36px;

          span, a {
            margin-left: 12px;
          }
        }
      }

      a {
        text-decoration: none;
        color: black;
        opacity: 1;
        transition: all $anim-duration linear;
        // color: white;
        // font-weight: 600;
        // padding: 2px 6px;
        // background-color: $primary-background-color;

        &:hover {
          opacity: $hover-opacity;
        }
      }
  }
}

.Additional {
  padding: 35px 28px;

  p {
    font-size: 18px;
    line-height: 1.5556;
    margin-bottom: 37px;
    color: black;
    font-weight: 300;
    text-align: left;
  }
}

.About {
  padding: 35px 28px;
  padding-top: 64px;
  background-color: rgb(218, 242, 252);

  .Inner {
    max-width: 1920px;

    h2 {
      color: $primary-background-color;
      margin-top: 0px;
      margin-bottom: 17px;
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
      text-align: left;
    }
  }
}

.GettingHere {
  padding: 35px 28px;
  
  .Inner {
    h2 {
      color: $primary-background-color;
      margin-top: 0px;
      margin-bottom: 17px;
      font-size: 28px;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    p {
      font-size: 18px;
      line-height: 1.5556;
      margin-bottom: 37px;
      color: black;
      font-weight: 300;
      text-align: left;

      a {
        text-decoration: none;
        color: black;
        font-weight: 800;
        transition: all $anim-duration linear;

        &:hover {
          opacity: $hover-opacity;
        }
      }
    }
  }
}

.Footer {
  background-color: $primary-background-color;
  padding: 15px 28px;
  color: white;
  text-align: left!important;

  a,p,span {
    color: white;
    font-size: 13px;
    line-height: 1.15rem;
    text-align: left;
  }

  #login-footer {
    margin-left: 0px;
  }

  p {
    // margin-top: 3rem;
  }
}

.Social {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 99999;

  img {
    width: 40px;
    background-color: white;
    border-radius: 6px;
    transition: all $anim-duration linear;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.25);

    &:hover {
      transform: scale(1.08);
    }
  }
}


////////////////////////////////////////////////////////////////

.DisplayImageContainer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.DisplayImageContainer {
  margin-right: 6px;
  overflow: hidden;

  button {
    position: relative;
    background: none 50% 50% / cover no-repeat rgb(218, 218, 218);
    background-position: 50% 50%;
    transition: transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
    background-repeat: no-repeat;
    width: 100%;
    // height: 250px;
    border: none;
    height: 100px;
    margin: 0px 9px 21px;
  }
}

.ImageContainer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 6px;
}

.ImageContainer {
  padding-right: 24px;

  button {
    position: relative;
    background: none 50% 50% / cover no-repeat rgb(218, 218, 218);
    background-position: 50% 50%;
    transition: transform 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
    background-repeat: no-repeat;
    width: 100%;
    // height: 250px;
    border: none;
    height: 175px;
    margin: 0px 9px 21px;

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.08);
    }

    &:hover span {
      height: calc(100% - 38px);
    }

    &:hover .price {
      height: calc(100% - 72px);
    }

    p {
      opacity: 0;
      position: absolute;
      color: white!important;
      z-index: 996!important;
      transition: all $anim-duration linear;
      // text-align: center;

      &.description {
        bottom: 12px;
        left: 0;
        right: 0;
      }

      &.price {
        // top: 15px;
        // bottom: 0px;
        font-weight: 400;
        font-size: 13px;
        pointer-events: none;
        height: 24px;
        left: 0;
        right: 0;
      }
    }

    &:hover p {
      opacity: 1;
    }
    
  }
  span {
    display: flex;
    position: absolute;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    bottom: 19px;
    left: 0px;
    height: 27px;
    width: 100%;
    color: white;
    // padding: 0 20px;
    z-index: 1;
    font-weight: 800;
    text-align: center;
    font-size: 20px;
    transition: all 250ms cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
    text-transform: none;
  }
}

.vertical-border {
  background-color: rgba(0,0,0,.075);
  width: 2.5px;
  height: 100%;
  border-radius: 24px;
}


// HAMBURGERS.CSS
// https://raw.githubusercontent.com/jonsuh/hamburgers/master/dist/hamburgers.css

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: rgb(16, 77, 152); }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: rgb(16, 77, 152);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Turn
   */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }