@media only screen and (min-width: 769px){
    .mobile-menu {
        display: none;
    }
    
}

@media only screen and (max-width: 769px){
    body {
        overflow-x: hidden;
    }

    .Header {
        justify-content: space-between;

        .links-wrapper {
            text-align: end;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            a {
                margin: 3px 0;
                white-space: nowrap;
            }
        }

        .hideForMobile {
            // display: none;
        }

        .hamburger {
            z-index: 999;
        }

        .mobile-menu {
            position: fixed;
            margin: auto;
            top: -100vh;
            left: 0;
            right: 0;
            // bottom: 0;
            height: 100vh;
            background-color: white;
            transition: all 125ms ease-in-out;
            // transform: scale(0);

            &.showing {
                top: 0;
                // transform: scale(1);
            }
            
            .wrapper {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                a {
                    margin: 30px auto;
                    text-decoration: none;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    color: rgb(16, 77, 152)!important;

                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
    }


    .logo-wrapper{
        img {
            height: 2.2rem!important; 
        }
    }

    .ImageContainer {
        padding-right: .5rem;

        button {
            height: 10rem!important;

            span {
                font-size: .85rem;
                height: 32px;
            }

            p {
                font-size: .65rem;
            }
        }
    }

    .ImageContainer button:hover span {
        height: calc(120%)!important;
    }

    .ImageContainer button:hover .price {
        transform: translateY(-1rem);
    }

    p.description {
        bottom: 0px!important;
    }

    p.price {
        font-size: .65rem!important;
    }

    .Section1 {
        p {
            font-size: 18px!important;
        }
    }

    .Inner {
        padding: 0px!important;

        h2, p:not(.price):not(.description) {
            padding-left: 28px;
            padding-right: 28px;
        }

        

    }

    .ContactUs {
        

        .Inner {
            
            .contact-wrapper {
                text-align: left!important;
                width: 100%;
                white-space: normal!important;
            }
        }
    }

    .DateInput-wrapper {
        display: grid!important;
        height: initial!important;
    }

    .AvailabilityChecker {
        border-right: none;
        border-left: none;

        .RoomNumber {
            margin-left: 0px!important;
            justify-content: center;
            margin-top: 1rem;
        }

        .PaxNumber {
            margin-left: 0px!important;
            justify-content: center;
            margin-top: 1rem;
        }
    }

    .Footer {
        padding-bottom: 64px;
    }
}
